name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Daniel-lpj
          template: classic
          
          base: header, activity, community, repositories, metadata
          
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: lines, percentage
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
          
          plugin_lines: yes
          
          config_timezone: America/Sao_Paulo
          filename: github-metrics.svg
